<%= render "shared/header" %>

<div class="open-room">
  <div class="open-room-title">公開チャットルーム一覧
    <%= link_to '作成', new_open_room_path, class: "open-new-btn" %>
  </div>
  <div class="open-room-search">
    <%= form_with url: search_open_rooms_path, method: :get, class:"open-search-top", local: true do |f| %>
      <span>　チームタグ：</span>
      <%= f.collection_select :fan_team_id, FanTeam.all, :id, :team_name, include_blank: "--" %>
      <br>
      <%= f.submit '検索' %>
    <% end %>
    <div class="open-search-bottom">
      <span>ルーム名検索：</span>
      <input type="search" class="open-name-search" id="room-name-search">
    </div>
  </div>
  
  <%# ルーム一覧 %>
  <ul class="open-lists" id="room-lists">
    <%= render partial: 'open_room', collection: @open_rooms %>
  </ul>
</div>

<%= render "shared/footer" %>