<%= render "shared/second-header"%>

<%= form_with model: @open_room, url: open_rooms_path, class: "open-new-form", local: true do |f| %>
  <div class="open-new-wrap">
    <div class="open-new-header">
      <h1 class="open-new-title">
        新規公開チャットルーム
      </h1>
    </div>

    <%= render 'shared/error_messages', model: @open_room %>

    <div class="open-new-group">
      <div class="open-new-text-wrap">
        <label class="open-new-text">ルーム名</label>
        <span class="open-new-indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"open-new-name", id:"open-name", placeholder:"分かりやすいルーム名を決めよう！", maxlength:"20", autofocus: true %>
    </div>
    <div class="open-new-group">
      <div class="open-new-text-wrap">
        <label class="open-new-text">チームタグ</label>
        <span class="open-new-indispensable">必須</span>
        <span class="open-team-tag-max">(最大６チームまで登録できます)</span>
      </div>
      <div class="open-new-team-wrap" id="open-team-select">
        <%= f.collection_select "fan_team_id[][id]", FanTeam.all, :id, :team_name, {include_blank: "--"}, {id:"open-new-team"} %>
      </div>
      <p class="add-open-team-tag" id="add-open-tag">チームタグを追加する</p>
    </div>
    <div class="open-new-group">
      <div class="open-new-text-wrap">
        <label class="open-new-text">ルームメモ</label>
        <span class="open-new-indispensable-not">任意</span>
      </div>
      <%= f.text_area :description, class:"open-new-content", id:"open-content", placeholder:"グループの説明やアピールする文章を書こう！", maxlength:"1000" %>
    </div>
    <div class="open-new-submit">
      <%= f.submit '新規作成', class:"open-new-submit-btn" %>
      <%= link_to "ルーム一覧に戻る", open_rooms_path, class: "open-room-back-btn" %>
    </div>
  </div>
<% end %>

<%= render "shared/second-footer"%>