<div class="chat-room-all">
  <div class="chat-header">
    <%= link_to '＜', :back, class:"back-btn" %>
    <h1 class="room-name"><%= @open_room.name %></h1>
    <a href="#" class="room-description">詳細</a>
  </div>

  <div class="chat-main">
  <p class="user-id-hidden" id="id-hidden"><%= current_user.id %></p>
    <ul class="message-lists" id="open-message-lists">
      <% @open_messages.each do |open_message| %>
        <% if current_user == open_message.user %>
          <li class="my-message-list">
            <div class="my-message-main">
              <p class="my-message-time"><%= open_message.created_at.strftime("%-H:%M") %></p>
              <p class="my-message-box"><%= open_message.content %></p>
            </div>
          </li>
        <% else %>
          <li class="message-list">
            <p class="message-user"><%= open_message.user.nickname %></p>
            <div class="message-main">
              <p class="message-box"><%= open_message.content %></p>
              <p class="message-time"><%= open_message.created_at.strftime("%-H:%M") %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%# メッセージ送信フォーム（ルーム未参加時は参加を促すメッセージを表示） %>
  <%= form_with model: @open_message, url: open_room_open_messages_path(@open_room.id), class:"chat-footer" do |f| %>
    <% if @open_room.users.include?(current_user) %>
      <%= f.text_field :content,  class:"new-message-box", placeholder:"メッセージを送信しよう！" %>
      <%= f.submit "送信", class:"new-message-submit" %>
    <% else %>
      <p class="room-before-text">ルームに入室してチャットに参加しよう！</p>
      <%= link_to '入室', add_member_open_room_path(@open_room.id), method: :post, class:"enter-open-room", data: { confirm: "#{@open_room.name}に入室しますか？" }, remote: true %>
    <% end %>
  <% end %>
</div>