<div class="chat-room-all">
  <div class="chat-header">
    <% if @users.include?(current_user) %>
      <%= link_to '', private_rooms_path, class:"fas fa-angle-double-left back-btn" %>
    <% else %>
      <%= link_to '', :back, class:"fas fa-angle-double-left back-btn" %>
    <% end %>
    <h1 class="room-name"><%= @open_room.name %></h1>
    <p class="room-description" id="open-description">詳細</p>
    <p class="room-description-close" id="open-description-close">閉じる</p>
  </div>

  <div class="chat-main" id="scroll">
    <div id="inner-scroll">
      <% if user_signed_in?%>
        <p class="user-id-hidden" id="id-hidden"><%= current_user.id %></p>
      <% end %>
      <ul class="message-lists" id="open-message-lists">
        <% @open_messages.each do |open_message| %>
          <% if current_user == open_message.user %>
            <li class="my-message-list">
              <div class="my-message-main">
                <p class="my-message-time"><%= open_message.created_at.strftime("%-H:%M") %></p>
                <p class="my-message-box"><%= open_message.content %></p>
              </div>
            </li>
          <% else %>
            <li class="message-list">
              <p class="message-user"><%= open_message.user.nickname %></p>
              <div class="message-main">
                <p class="message-box"><%= open_message.content %></p>
                <p class="message-time"><%= open_message.created_at.strftime("%-H:%M") %></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <%# ルームの詳細情報の表示 %>
  <div class="open-room-second-main" id="open-second-main">
    <div class="open-room-second-wrap">
      <div class="room-head-wrap">
        <div class="room-member-wrap" id="member-wrap">
          <p class="room-member-title">メンバー：</p>
          <p class="room-member-length"><%= @users.length %>人</p>
          <span class="room-member-pulldown">▼</span>
          <ul class="room-member-list" id="member-list">
            <% @users.each do |user| %>
              <%= link_to user.nickname, user_path(user.id), class:"room-member" %>
            <% end %>
          </ul>
        </div>
        <div class="room-btn-wrap">
          <% if @users.include?(current_user) %>
          <%= link_to '編集', edit_open_room_path(@open_room.id), class:"open-room-edit" %>
          <%= link_to '退出', exit_open_room_path(@open_room.id), method: :delete, class:"open-room-exit", data: { confirm: "このルームから退出しますか？\r\n※ルームメンバーが0人になるとルームは自動的に削除されます" } %>
          <% end %>
        </div>
      </div>
      <div class="room-team-tag-wrap">
        <p class="team-tag-title">チームタグ</p>
        <ul class="team-tag-list">
          <% @fan_teams.each do |team| %>
            <li class="team-tag"><%= team.team_name %></li>
          <% end %>
        </ul>
      </div>
      <div class="room-memo-wrap">
        <p class="room-memo-title">ルームメモ</p>
        <% if @open_room.description == "" %>
          <p class="room-memo">グループの説明やアピールする文章を書こう！</p>
        <% else %>
          <p class="room-memo"><%= @open_room.description %></p>
        <% end %>
      </div>
    </div>
  </div>

  <%# メッセージ送信フォーム（ルーム未参加時は参加を促すメッセージを表示） %>
  <%= form_with model: @open_message, url: open_room_open_messages_path(@open_room.id), class:"chat-footer", id:"open-chat-footer" do |f| %>
    <% if @open_room.users.include?(current_user) %>
      <%= f.text_area :content, class:"new-message-box", placeholder:"メッセージを送信しよう！" %>
      <%= f.submit "送信", class:"new-message-submit" %>
    <% else %>
      <p class="room-before-text" id="before-enter-text">ルームに入室してチャットに参加しよう！</p>
      <%= link_to '入室', join_open_room_path(@open_room.id), method: :post, class:"enter-open-room" %>
    <% end %>
  <% end %>
</div>