<%= render "shared/second-header"%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: 'user-edit-main' }) do |f| %>
<div class='edit-form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ユーザー情報編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: resource %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-nickname", id:"nickname", placeholder:"例) baseball太郎", maxlength:"20", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ファンチーム</label>
      <span class="indispensable">必須</span>
    </div>
    <div class="input-fan-team-wrap">
      <%= f.collection_select :fan_team_id, FanTeam.all, :id, :team_name, include_blank: "--", class:"input-fan-team", id:"fan-team" %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">プロフィール</label>
      <span class="indispensable-not">任意</span>
    </div>
    <%= f.text_area :profile, class:"input-profile", id:"profile", placeholder:"好きなチームやあなた自身のことを書いてみましょう！" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
      <span class="indispensable-not">任意</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>

  <%# すぐ下のp要素をクリックした時、user/edit.jsの動作を行う %>
  <p class="edit-detail-btn" id="detail-btn">メールアドレス及びパスワードを変更する</p>
  <div class="user-edit-detail" id="edit-detail"></div>

  <div class='user-update-btn'>
    <%= f.submit "更新する" ,class:"register-blue-btn" %>
  </div>
</div>
<% end %>

<div class="registration-destroy">
  <div class='form-wrap'>
    <div class="destroy-btn">
      <%= link_to "マイページに戻る", user_path(current_user.id), class: "edit-back-btn" %>
      <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "この作業は元に戻せません。\r\n本当に削除してよろしいですか？" }, method: :delete, class: "destroy-red-btn" %>
    </div>
  </div>
</div>

<%= render "shared/second-footer"%>