<li class="my-open-list">
  <%= link_to open_room_path(my_open_room.id) do %>
    <h4 class="my-room-name"><%= my_open_room.name %></h4>
    <div class="my-room-description">
      <p class="my-room-member"><i class="fas fa-user-alt my-member-icon"></i><%= my_open_room.users.length %></p>
      <% if my_open_room.open_messages[0].created_at.strftime("%Y/%m/%d") == Date.today.strftime("%Y/%m/%d") %>
        <p class="my-room-at">Today<%= my_open_room.open_messages[-1].created_at.strftime(" %-H:%M") %></p>
      <% else %>
        <p class="my-room-at"><%= my_open_room.open_messages[-1].created_at.strftime("%Y/%m/%d %-H:%M") %></p>
      <% end %>
    </div>
  <% end %>
</li>