<li class="my-private-list">
  <%= link_to private_room_path(private_room.id) do %>
    <% if private_room.name == "" %>
    <h4 class="my-room-name">
    <% private_room.users.each_with_index do |user, i| %>
      <%= "," if i != 0 && user != current_user %>
      <%= user.nickname if user != current_user %>
    <% end %>
    </h4>
    <% else %>
      <h4 class="my-room-name"><%= private_room.name %></h4>
    <% end %>
    <div class="my-room-description">
      <p class="my-room-member"><i class="fas fa-user-alt my-member-icon"></i><%= private_room.users.length %></p>
      <% if private_room.private_messages[0].created_at.strftime("%Y/%m/%d") == Date.today.strftime("%Y/%m/%d") %>
        <p class="my-room-at">Today<%= private_room.private_messages[-1].created_at.strftime(" %-H:%M") %></p>
      <% else %>
        <p class="my-room-at"><%= private_room.private_messages[-1].created_at.strftime("%Y/%m/%d %-H:%M") %></p>
      <% end %>
    </div>
  <% end%>
</li>