<%= render "shared/second-header"%>

<%= form_with model: @private_room, url: private_room_path(@private_room.id), class: "private-room-edit-main", local: true do |f| %>
  <div class="private-room-edit-wrap">
    <h1>ルーム情報編集</h1>
    <div class="room-edit-head-wrap">
      <div class="room-edit-back">
        <%= link_to ' ルームに戻る', private_room_path(@private_room.id), class:"fas fa-angle-left room-edit-back-btn" %>
      </div>
      <div class="room-member-edit-wrap" id="member-wrap">
        <p class="room-member-title">メンバー：</p>
        <p class="room-member-length"><%= @users.length %>人</p>
        <span class="room-member-pulldown">▼</span>
        <ul class="room-member-list" id="member-list">
          <% @users.each do |user| %>
            <%= link_to user.nickname, user_path(user.id), class:"room-member" %>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'shared/error_messages', model: @private_room %>

    <div class="room-name-edit-wrap">
      <label class="room-name-edit-title">ルーム名</label>
      <%= f.text_area :name, class:"room-name-edit", id:"open-name", placeholder:"分かりやすいルーム名を決めよう！", maxlength:"20", autofocus: true %>
    </div>

    <div class="room-memo-edit-wrap">
      <label class="room-memo-edit-title">ルームメモ</label>
      <%= f.text_area :description, class:"room-memo-edit", id:"open-content", placeholder:"ルームメモを利用して内容をルームメンバーで共有しよう！", maxlength:"1000" %>
    </div>

    <%= f.submit '保存する', class:"room-edit-submit-btn" %>
  </div>
<% end %>

<%= render "shared/second-footer"%>