<%= render "shared/header" %>

<%# 参加チャットルーム一覧 %>
<div class="my-room-title-wrap">
  <h2 class="my-room-title">参加チャットルーム</h2>
</div>
<div class="my-room">
  <%# 参加プライベートルーム部分 %>
  <div class="my-private-room">
    <h3 class="my-private-title">プライベートチャット</h3>
    <ul class="my-private-lists">
      <%= link_to '＋ ルーム作成', new_private_room_path, class:"my-private-new-btn" %>
      <%= render partial: 'private_room', collection: @private_rooms %>
    </ul>
  </div>
  <%# 参加オープンルーム部分 %>
  <div class="my-open-room">
    <h3 class="my-open-title">公開チャットルーム</h3>
    <ul class="my-open-lists">
      <%= link_to "＋ ルーム作成", new_open_room_path, class:"my-open-new-btn" %>
      <%= render partial: 'my_open_room', collection: @my_open_rooms %>
      
      <li class="my-open-list">
        <a href="">
          <h4 class="my-room-name">RoomName</h4>
          <div class="my-room-description">
            <p class="my-room-member"><i class="fas fa-user-alt my-member-icon"></i>30</p>
            <p class="my-room-at">2020/10/26</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>