<%= render "shared/second-header"%>

<%= form_with model: @open_room, url: open_rooms_path, class: "private-new-form", local: true do |f| %>
  <div class="private-new-wrap">
    <div class="private-new-header">
      <h1 class="private-new-title">
        新規プライベートチャット
      </h1>
    </div>

    <%# <%= render 'shared/error_messages', model: @open_room %>
    <div class="private-new-group">
      <div class="private-new-text-wrap">
        <label class="private-new-text">ルームメンバー</label>
        <span class="private-new-indispensable">必須</span>
      </div>
      <div class="private-new-member-box">
        <%= f.collection_check_boxes("user_ids", @followings, :id, :nickname) do |user| %>
          <%= user.label { user.check_box + user.text } %>
        <% end %>
      </div>
    </div>
    <div class="private-new-group">
      <div class="private-new-text-wrap">
        <label class="private-new-text">ルーム名</label>
        <span class="private-new-indispensable-not">任意</span>
        <p class="private-new-name-indisable">※設定しない場合メンバーの名前が表示されます</p>
      </div>
      <%= f.text_area :name, class:"private-new-name", id:"private-name", placeholder:"分かりやすいルーム名を決めよう！", maxlength:"20", autofocus: true %>
    </div>
    <div class="private-new-group">
      <div class="private-new-text-wrap">
        <label class="private-new-text">ルームメモ</label>
        <span class="private-new-indispensable-not">任意</span>
      </div>
      <%= f.text_area :description, class:"private-new-content", id:"private-content", placeholder:"ルームメモを利用して内容をルームメンバーで共有しよう！", maxlength:"1000" %>
    </div>
    <div class="private-new-submit">
      <%= f.submit '新規作成', class:"private-new-submit-btn" %>
      <%= link_to "参加チャット一覧に戻る", private_rooms_path, class: "private-room-back-btn" %>
    </div>
  </div>
<% end %>

<%= render "shared/second-footer"%>