<div class="chat-room-all">
  <div class="chat-header">
    <%= link_to '', private_rooms_path, class:"fas fa-angle-double-left back-btn" %>
    <% if @users.length == 1 %>
      <h1 class="room-name">メンバーがいません</h1>
    <% elsif @private_room.name == "" %>
      <h1 class="room-name">
      <% other_users = @users.select { |user| user != current_user } %>
      <% other_users.each_with_index do |user, i| %>
        <%= "," if i != 0 %>
        <%= user.nickname %>
      <% end %>
      </h1>
    <% else %>
      <h1 class="room-name"><%= @private_room.name %></h1>
    <% end %>
    <p class="room-description" id="private-description">詳細</p>
    <p class="room-description-close" id="private-description-close">閉じる</p>
  </div>

  <div class="chat-main" id="scroll">
    <div id="inner-scroll">
      <% if user_signed_in? %>
        <p class="user-id-hidden" id="id-hidden"><%= current_user.id %></p>
      <% end %>
      <ul class="message-lists" id="private-message-lists">
        <% @private_messages.each do |private_message| %>
          <% if current_user == private_message.user %>
            <li class="my-message-list">
              <div class="my-message-main">
                <p class="my-message-time"><%= private_message.created_at.strftime("%-H:%M") %></p>
                <p class="my-message-box"><%= private_message.content %></p>
              </div>
            </li>
          <% else %>
            <li class="message-list">
              <p class="message-user"><%= private_message.user.nickname %></p>
              <div class="message-main">
                <p class="message-box"><%= private_message.content %></p>
                <p class="message-time"><%= private_message.created_at.strftime("%-H:%M") %></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <%# ルームの詳細情報の表示 %>
  <div class="private-room-second-main" id="private-second-main">
    <div class="private-room-second-wrap">
      <div class="room-head-wrap">
        <div class="room-member-main">
          <div class="room-member-wrap" id="member-wrap">
            <p class="room-member-title">メンバー：</p>
            <p class="room-member-length"><%= @users.length %>人</p>
            <span class="room-member-pulldown">▼</span>
            <ul class="room-member-list" id="member-list">
              <% @users.each do |user| %>
                <%= link_to user.nickname, user_path(user.id), class:"room-member" %>
              <% end %>
            </ul>
          </div>
          <p class="add-member-title" id="add-member-btn">追加</p>
        </div>
        <div class="room-btn-wrap">
          <% if @users.include?(current_user) %>
          <%= link_to '編集', edit_private_room_path(@private_room.id), class:"private-room-edit" %>
          <%= link_to '退出', exit_private_room_path(@private_room.id), method: :delete, class:"private-room-exit", data: { confirm: "このルームから退出しますか？\r\n※ルームメンバーが0人になるとルームは自動的に削除されます" } %>
          <% end %>
        </div>
      </div>
      <div class="room-name-wrap">
        <p class="room-name-title">ルーム名</p>
        <% if @private_room.name == "" %>
          <p class="room-name-main">ルーム名を設定しよう！</p>
        <% else %>
          <p class="room-name-main"><%= @private_room.name %></p>
        <% end %>
      </div>
      <div class="room-memo-wrap">
        <p class="room-memo-title">ルームメモ</p>
        <% if @private_room.description == "" %>
          <p class="room-memo">グループの説明やアピールする文章を書こう！</p>
        <% else %>
          <p class="room-memo"><%= @private_room.description %></p>
        <% end %>
      </div>
    </div>
  </div>

  <%# ルームメンバー追加ページ %>
  <div class="private-room-third-main" id="private-third-main">
    <div class="private-room-third-wrap">
      <%= form_with url: add_member_private_room_path(@private_room.id), class:"add-member-form", local: true do |f| %>
        <h2 class="add-member-form-title">追加するユーザーを選択</h2>
        <div class="private-add-member-box">
          <%= f.collection_check_boxes("user_ids", @followings, :id, :nickname) do |user| %>
            <%= user.label { user.check_box + user.text } %>
          <% end %>
        </div>
        <%= f.submit 'ルームに追加', class:"private-add-submit-btn" %>
      <% end %>
    </div>
  </div>

  <%# メッセージ送信フォーム（ルーム未参加時は参加を促すメッセージを表示） %>
  <%= form_with model: @private_message, url: private_room_private_messages_path(@private_room.id), class:"chat-footer", id:"private-chat-footer" do |f| %>
    <%= f.text_area :content, class:"new-message-box", placeholder:"メッセージを送信しよう！" %>
    <%= f.submit "送信", class:"new-message-submit" %>
  <% end %>
</div>