<%= render "shared/header" %>

<%# フォロー中のユーザーの投稿一覧 %>
<div class="tweet-index">
  <div class="tweet-title">ツイート投稿一覧
    <%= link_to '投稿', new_tweet_path, class:"tweet-new" %>
  </div>
  <div class="tweet-search">
    <div class="tweet-search-top">
      <%= link_to '全ユーザー', all_tweets_path, class:"tweet-search-all" %>
      <a href="" class="tweet-search-follow" id="tweet-search-current">フォロー中</a>
    </div>
  </div>

  <div class="tweets-main">
    <ul class="tweets-lists">
      <%= render partial: "tweet", collection: @tweets %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>