<%= render "shared/header" %>

<%# 画面上部ユーザー情報部分 %>
<div class="user-show">
  <div class="user-wrap">
    <h1 class="user-name" id="user-nickname">
      <%= @user.nickname %>
    </h1>
    <% if current_user == @user %>
      <%= link_to '変更', edit_user_registration_path, class: "user-edit" %>
    <% else %>
      <%= render 'relationships/follow_btn', user: @user %>
    <% end %>
  </div>
  <div class="user-main-wrap">
    <p class="user-profile">
      <% if @user.profile == "" %>
        プロフィールを書いてみよう！
      <% else %>
        <%= @user.profile %>
      <%end%>
    </p>
    <div class="user-follow">
      <%# フォローリスト %>
      <div id="following-user" class="following">
        <p><span id="user-followings"><%= @user.followings.length %></span> フォロー　</p>
        <div class="following-lists" id="user-following-lists">
          <%= render partial: 'relationships/following', collection: @followings %>
        </div>
      </div>
      <%# フォロワーリスト %>
      <div id="follower-user" class="follower">
        <p><span id="user-followers"><%= @user.followers.length %></span> フォロワー</p>
        <div class="follower-lists" id="user-follower-lists">
          <%= render partial: 'relationships/follower', collection: @followers %>
        </div>
      </div>
    </div>
  </div>
  <p class="user-fan-team"><span>ファンチーム　</span>
    <%= @user.fan_team.team_name %>
  </p>
  <p class="user-birth"><span>誕生日　</span>
    <% if @user.birthday == nil %>
      登録されていません
    <% else %>
      <%= @user.birthday.strftime("%m月%d日") %>
    <%end%>
  </p>
</div>

<%# ユーザーの投稿一覧部分 %>
<h1 class="user-tweets-top">
  <%= "#{@user.nickname}さんの投稿一覧" %>
  <% if @user == current_user %>
    <%= link_to '投稿', new_tweet_path, class:"tweet-new" %>
  <% end %>
</h1>
<div class="user-tweets">
  <ul class="user-tweets-lists">
    <% if @tweets.length != 0 %>
      <%= render partial: "tweets/tweet", collection: @tweets %>
    <% elsif @user == current_user %>
      <p class="user-tweets-none">お気に入りの画像や動画を投稿してみましょう！</p>
    <% else %>
      <p class="user-tweets-none"><%= @user.nickname %>さんの投稿はまだありません</p>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>