<header>
  <div class="header-top">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag("fan-room-logo.png", width: "55", height: "60") %>
        <span>FanRoom</span>
      <% end %>
    </div>
    <div class="header-sign">
      <ul class="link-sign">
      <% if user_signed_in? %>
        <li id="current-name"><%= link_to current_user.nickname, user_path(current_user.id) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="header-bottom">
    <ul class="link-list">
    <% if user_signed_in? %>
      <li><a href="">参加チャット</a></li>
      <li><%= link_to '公開チャット', open_rooms_path, id: "header-open-room" %></li>
      <li><a href="">投稿一覧</a></li>
      <li><%= link_to 'マイページ', user_path(current_user.id), id: "header-mypage" %></li>
    <% else %>
      <li><a href="">参加チャット</a></li>
      <li><%= link_to '公開チャット', open_rooms_path, id: "header-open-room" %></li>
      <li><a href="">投稿一覧</a></li>
      <li><%= link_to 'マイページ', new_user_session_path %></li>
    <% end %>
    </ul>
  </div>
</header>